<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<routes>

 <!-- FAR RIGHT -->

 <section id="10005000" name="Far Right" order="5">
  <route bolts="4B,A" grade="18" id="1" name="Pixilated" stars="***">
   <description>
    Takes the vague slightly right-slanting break about 3m left of the large chimney filled with chockstones.
   </description>
   <first-ascent by="Peter Speed,Tony Seebregts" date="2013-03-21"/>
  </route>    

  <route bolts="4B,A" grade="17" id="2" name="Hobbit Whodunnit" stars="**">
   <description>
    Climbs the left side of the white face that leads up to the ledge shared with Akkadis and Legovaan, and continue over the bulge (reachy for hobbits :-)).
   </description>
   <first-ascent by="Peter Speed,Tony Seebregts,Lucy Allais,Rhea Rahman" date="2013-03-16"/>
  </route>    

  <route bolts="5B,A" grade="16" id="3" name="Akadis" stars="">
   <description>
    Climbs up the left side of the white slab.
   </description>
   <first-ascent by="Derric Pienaar" date="2004"/>
  </route>

 <route bolts="5B,A" grade="18" id="4" name="Legovaan" stars="">
   <description>
    Climbs up right of the white slab.
   </description>
   <first-ascent by="Andries Smitt" date="2004"/>
  </route>    
 </section>

 <!-- NEIL YOUNG BUTTRESS -->

 <section id="10002000" name="Neil Young Buttress" order="2">
  <route bolts="PG" grade="20" id="1" name="Out Of The Black" stars="**">
   <description>
    About 4m up Black Jack Gully on the true left is an obvious finger crack up a grey and cream 
    streaked wall. Climb the crack to a rail, then pull straight through the centre of the steep 
    face above to reach the top.
   </description>
  </route>    

  <route bolts="PG" grade="15" id="2" name="Into The Blue" stars="**">
   <description>
    Climb the crack system directly above the tree at the base of Black Jack Gully. Climb up past 
    some white streaks to an undercling rail. Then move left onto further cracks and ascend (passing
    a tree on the right) to the top.
   </description>
  </route>    

  <route bolts="PG" grade="20" id="3" name="Thrasher" stars="*">
   <description>
    To the right of Into The Blue is a large overhang about 2m up. Start as for Heart Of Gold and step
    up left onto the lip of the overhang. Then follow the thin crack past the small tree to the undercling
    rail and second overhang. Pull through centre of second overhang at about 1.5m to the right of Into 
    The Blue. Continue straight to the top.
   </description>
  </route>    

  <route bolts="PG" grade="20" id="4" name="Heart Of Gold" stars="**">
   <description>
    On the front of the Neil Young Buttress at the base of the crag are 3 large boulders under an overhang, 
    the right hand one forming a 2m high pillar. Start up the pillar, then climb crack above. Continue straight 
    up recess above (crux) and finish on ridge at top.
   </description>
  </route>    

  <route bolts="G" grade="14" id="5" name="Lost Companions" stars="**">
   <description>
    1m to the right of the pillar mentioned in Heart Of Gold is a thin crack up a dark wall. Climb this past 
    some small bushes into a wider crack, which is followed to the top.
   </description>
  </route>    

  <route bolts="PG" grade="14" id="6" name="Pokoharness" stars="**">
   <description>
    1m to the right of Lost Companions is a thin crack with roots at the top. Climb this.
   </description>
  </route>    

  <route bolts="G" grade="10" id="7" name="Crystal Canyons" stars="*">
   <description>
    Climb the deep crack 1m right of Pokoharness.
   </description>
  </route>    

  <route bolts="PG" grade="21" id="8" name="Aurora Borealis" stars="">
   <description>
    To the right of Crystal Canyons is an overhanging bulge with a tree at its base (in the centre). Up the wall/bulge 
    are 2 thin cracks on either side of the tree. Climb the left hand crack.
   </description>
  </route>    

  <route bolts="PG" grade="19" id="9" name="Johnny Rotten" stars="">
   <description>
    Climb the right hand crack of the 2 cracks mentioned in 'Aurora Borealis'.
   </description>
  </route>    

  <route bolts="PG" grade="16" id="10" name="Hay Hay My My" stars="***">
   <description>
    Around the corner to the right of 'Johnny Rotten' is an attractive face. Start on the left, moving through initial 
    overhang onto the face. Avoiding ledges on the left, step right onto a small ledge about 2m above the ground. 
    Climb directly up the centre of the brown yellow face above to the top. Note:  An easier variation can be climbed 
    up the left arete.
   </description>
  </route>    

  <route bolts="PG" grade="14" id="11" name="Young Man's Entrance" stars="**">
   <description>
    One day whilst wandering aimlessly around the top of the crag too lazy to walk down. I decided to scramble down and
    inadvertently opened a route worth writing up. 10m to the right of 'Hay Hay My My' is a broken face shaded closely by 
    a large tree. Start by a clump of routes about the size of a woman’s foot embedded in the face. Climb straight up 
    towards a sturdy Combretum tree.
   </description>
  </route>    

  <route bolts="G" grade="14" id="12" name="Wow" stars="**">
   <description>
    Around the corner to the right of 'Young Mans Entrance' are two obvious brown corners. Climb the left hand corner to
    an overhang, then instead of going left to easier ground, make in interesting, cramped rail right to a position 
    above 'Gravity Don't Dust'. Continue from here to top.
   </description>
  </route>    

  <route bolts="R" grade="18" id="13" name="Gravity Don't Dust" stars="**">
   <description>
    Climb delicately up the orange arete to the right of WOW to a pointed overhang. Pull through and continue to top.
   </description>
  </route>    

  <route bolts="G" grade="13" id="14" name="Zealot Zone" stars="**">
   <description>
    limb the right hand corner mentioned in 'Wow', until you can step right onto a ledge. Climb further up face above. Continue up a 
    series of cracks and ledges to top.
   </description>
  </route>    

  <route bolts="G" grade="8" id="15" name="Purple Moon" stars="*">
   <description>
    Start 2m to the left of 'Purple Sky', and continue straight up the crack (with a tree in it) to the top, moving right at the tree.
   </description>
  </route>    

  <route bolts="PG" grade="12" id="16" name="Purple Sky" stars="***">
   <description>
    Climb up attractive face 10m up and right of GRAVITY DON’T DUST, keeping strictly to the face all the way up (jug land).
   </description>
  </route>    

  <route bolts="G" grade="14" id="17" name="Land Of Smiles" stars="**">
   <description>
    Climb the ridge 3m to the right of PURPLE SKY, starting on the left of the arete on an easy angle slab and finishing on 
    the right hand side of the ridge.
   </description>
  </route>    

  <route bolts="G" grade="10" id="18" name="Song Of Songs" stars="*">
   <description>
    To the right of 'Land Of Smiles' is a deep crack running up a series of ledges. Climb the crack and step left at its top. Exit right.
   </description>
  </route>    

  <route bolts="PG" grade="11" id="19" name="Bye Bye Blues" stars="**">
   <description>
    Climb the ridge to the right of SONG OF SONGS on good but far apart jugs to the top.
   </description>
  </route>    

  <route bolts="G" grade="12" id="20" name="Song Of Joy" stars="**">
   <description>
    Climb the orange recess with cracks in it on the right of BYE BYE BLUES. This recess has an overhang in it about 
    three quarters of the way up.
   </description>
  </route>    

  <route bolts="G" grade="13" id="21" name="Ore" stars="**">
   <description>
    On the right hand side of the crag (i.e. 10m to the right and 15m up from SONG OF JOY) is a zig-zag wide crack
    running through a series of juggy bulges which is slightly undercut at its base. Climb up the crack to the top. 
   </description>
  </route>    

 </section>

 <!-- THE POLITICIAN'S CRAG -->

 <section id="10004000" name="The Politician's Crag" order="4">
     
  <route bolts="2B,A" grade="5" id="1" name="Visions of Urban Gloom" stars="**">
   <description>
    The easiest sport route in the country/Africa/Southern hemisphere ? Almost anyone should be able to lead 
    it even with no previous climbing experience. Climb the face 8m right of the short gully.
   </description>
   <first-ascent by="Soloed" date="80's"/>
   <bolted by="Clive Curson" date=""/>
  </route>    
     
  <route bolts="2B,A" grade="6" id="2" name="Joburg Bowsaw Massacre" stars="**">
   <description>
    If the root looks like becoming a bush again, apply a chainsaw. Climb the face 10m right of the gully past 2 bolts. 
    Same lower-offs as for 'Visions of Urban Gloom'.
   </description>
   <bolted by="Clive Curson" date=""/>
  </route>    
     
  <route bolts="3B,A" grade="7" id="3" name="Informal Settlement" stars="**">
   <description>
    Start at the large recess/break. After the second bolt climb out right to gin the smooth slab which is followed to lower-offs.
   </description>
   <first-ascent by="Clive Curson" date="1994"/>
  </route>    
     
  <route bolts="3B,A" grade="8" id="4" name="Redistribution" stars="**">
   <description>
    Starting at the base of the recess, follow the line of weakness diagonally across under the slab of 'Informal Settlement' to the crack
    system to its right. Climb this and use the lower-offs on 'Informal Settlement'.
   </description>
   <first-ascent by="Clive Curson" date="1994"/>
  </route>    
     
  <route bolts="3B,A" grade="14" id="5" name="Direct Redistribution" stars="**">
   <description>
    Start 1m right of the large recess and climb the crack on 'Redistribution' crack all the way from the ground using the same bolts.
   </description>
   <first-ascent by="Clive Curson" date="1994"/>
  </route>    
     
  <route bolts="4B,A" grade="15" id="6" name="Funnel of Funds" stars="**">
   <description>
    Start a the base of a jam crack 4m right of recess. Climb steeply past the funnel feature, tending slightly right towards the top.
   </description>
   <first-ascent by="Clive Curson" date="1994"/>
  </route>    

  <route bolts="4B,A" grade="12" id="7" name="Cash On Tap" stars="**">
   <description>
    Starting at an ex-tree, climb up the crackline on great holds then move left past the bulge (ignoring the bolt on the right) to
    join 'Funnel of Funds' at the top.
   </description>
   <first-ascent by="Clive Curson" date="1994"/>
  </route>    
  
  <route bolts="4B,A" grade="19" id="8" name="Cosmic Politician" stars="***">
   <description>
    Takes the smooth bulging orange face with two key horizontal cracks above this bulge. Slightly reach dependant, but a good line all the same.
   </description>
   <first-ascent by="Clive Curson" date="1994"/>
  </route>    
  
  <route bolts="4B,A" grade="18" id="9" name="Fields Of Opportunity" stars="**">
   <description>
    Climb the crack and V-shaped groove right of COSMIC POLITICIAN. Finish at lower-offs either left or right.
   </description>
   <first-ascent by="Clive Curson" date="1994"/>
  </route>    
  
  <route bolts="4B,A" grade="18" id="10" name="District Six" stars="**">
   <description>
    Climb up to the large peapod groove to the bulge. The crux is using a layback move to the right, in the middle of the bolt line. The 
    temptation to stray is great: nice move if you don’t.
   </description>
   <first-ascent by="Clive Curson" date="1994"/>
  </route>    
  
  <route bolts="3B,A" grade="17" id="11" name="The Political Angle" stars="**">
   <description>
    Teeter up the smooth slab just left of the arete. It gets more positive – eventually. Finish leftwards to the lower-offs on 'District Six'.
   </description>
   <first-ascent by="Clive Curson" date="1994"/>
  </route>    
  
  <route bolts="3B,A" grade="16" id="12" name="Winds Of Change" stars="**">
   <description>
    Climb the deep crack to the right of the smooth slab to the left of a long, elevated ledge.
   </description>
   <first-ascent by="Clive Curson" date="1994"/>
  </route>    
  
  <route bolts="3B,A" grade="16" id="13" name="Urban Unrest" stars="***">
   <description>
    The climb starts next to a bushy gully on the left, some 3m left of a whitish nose. There is a crack line through the bulge. 
    Climb the small bulge on large jugs.
   </description>
   <first-ascent by="Clive Curson" date="1994"/>
  </route>    
  
  <route bolts="3B,A" grade="18" id="14" name="Gang Warfare" stars="**">
   <description>
    Climb the crack on the right of the bulge and 1.5m right of the nose. Move up, then right and up on layback holds.
   </description>
   <first-ascent by="Clive Curson" date="1994"/>
  </route>    
  
  <route bolts="3B,A" grade="19" id="15" name="City Slicker" stars="**">
   <description>
    The route up the smooth, whitish nose. Follow the thin crackline up the nose, without straying too far either way. A tad contrived.
    Go a little left after the third bolt to the 'Gang Warfare' lower-offs.
   </description>
   <first-ascent by="Clive Curson" date="1994"/>
  </route>    
  
  <route bolts="4B,A" grade="14" id="16" name="Home Boy" stars="**">
   <description>
    Climbs the face to the right of the nose. There are some great incuts on this one. Go slightly right to lower-offs overlooking the large recess.
   </description>
   <first-ascent by="Clive Curson" date="1994"/>
  </route>    
  
  <route bolts="4B,A" grade="13" id="17" name="Heavy Traffic" stars="**">
   <description>
    Start up the featured arete to the right of a large recess about 4m right of the CITY SLICKER nose. Climb the juggy rock, going left at the 
    top to the lower-offs. Crux is just after the first bolt.
   </description>
   <first-ascent by="Clive Curson" date="1994"/>
  </route>    
  
  <route bolts="4B,A" grade="11" id="18" name="Police Brutality" stars="**">
   <description>
    Start at a small jagged block. Climb the face, trending somewhat right at the top to lower-offs.
   </description>
   <first-ascent by="Clive Curson" date="1994"/>
  </route>    
  
  <route bolts="4B,A" grade="14" id="19" name="No Go Area" stars="**">
   <description>
    Start below the boltline through a shallow scoop about 1.5m left of the prominent red corner. Climb to lower-offs above.
   </description>
   <first-ascent by="Clive Curson" date="1994"/>
  </route>    
  
  <route bolts="4B,A" grade="13" id="20" name="Urban Legend" stars="**">
   <description>
    Climbs a striking red corner all the way to the top.
   </description>
   <first-ascent by="Clive Curson" date="1994"/>
  </route>    
  
  <route bolts="4B,A" grade="12" id="21" name="Dark Streets" stars="**">
   <description>
    Between the corner and a dark recess is a vague break through a face with glue-on blocks – right above the tree/roots. Most 
    remaining holds feel solid, but exercise some care. Go left at the top on big jugs (rather steep).
   </description>
   <first-ascent by="Clive Curson" date="1994"/>
  </route>    
  
  <route bolts="4B,A" grade="20" id="22" name="Judgement Day" stars="**">
   <description>
    Climb the smooth, light-coloured face to the right of the dark crack / recess. Don’t reach past the edge of the face.
   </description>
   <first-ascent by="Clive Curson" date="1994"/>
  </route>    
  
  <route bolts="4B,A" grade="14" id="23" name="Skywalker" stars="**">
   <description>
    Start up the excellent left-facing corner just right of the whitish face. The corner flattens out higher up.
   </description>
   <first-ascent by="Clive Curson" date="1994"/>
  </route>    
  
  <route bolts="4B,A" grade="19" id="24" name="Bad Karma" stars="**">
   <description>
    About 5m right of 'Skywalker' is a recess with a deep crack on the left and a ledge on the right. Climb the corner 
    on the right of the recess (using a jam near the top) to lower offs on the arete to the right. Can get a bit muddy and 
    take care of the loose rocks at the top.
   </description>
   <first-ascent by="Clive Curson" date="1994"/>
  </route>    
  
  <route bolts="4B,A" grade="20" id="25" name="Drugs and Death" stars="**">
   <description>
    Start 2-3m right of the 'Bad Karma' recess. Climb the smooth orangey-red wall on good incuts. Tend left towards the arete. Not 
    as easy as it looks, and much harder for midgets.
   </description>
   <first-ascent by="Clive Curson" date="1994"/>
  </route>    
  
  <route bolts="4B,A" grade="25" id="26" name="Street Preacher" stars="**">
   <description>
    Climb the smooth overhanging face to the right of 'Drugs and Death' on thin holds. A bolt exists at the top which can be used to 
    top-rope the route. Note: if you use the grips on the left, the grade drops to 23.
   </description>
   <first-ascent by="Neil Margetts" date="2005"/>
  </route>    
  
  <route bolts="4B,A" grade="19" id="27" name="Keen Dude" stars="***">
   <description>
    Start 4m right of the BAD KARMA recess. Climb past a tree root on a ledge 1.5m up. Climb the crack above to a notch in the roof. 
    Give the scree above a definite miss. Also a little reach dependant.
   </description>
   <first-ascent by="Clive Curson" date="1994"/>
  </route>    
  
  <route bolts="4B,A" grade="22" id="28" name="Kamakazi" stars="**">
   <description>
    Start 1m left of 'The Red Zone'. Climbs through some dynamic moves to the ledge at mid height. Pull through the overhang above 
    on 2 underclings to the jugs above.
   </description>
   <first-ascent by="Neil Margetts" date="2004"/>
  </route>    
  
  <route bolts="4B,A" grade="25" id="29" name="The Red Zone" stars="**">
   <description>
    Climbs a crackline about 7m right of the 'Bad Karma' recess into a groove between 2 small buttresses. Start just right of the first bolt.
    Much harder if the holds left of the arete are not used or if you are vertically challenged. This route and those to the right had seen 
    previous top rope action. 
   </description>
   <bolted by="Clive Curson" date="1995"/>
   </route>    
  
  <route bolts="4B,A" grade="27" id="30" name="The Confidence Reefer" stars="**">
   <description>
    Climbs the bulging buttress just left of 'Streetfighter', using the first 3 bolts of 'Streetfighter' and one hanger bolt out to the left. 
    Don’t use the crack to the right.
   </description>
   <bolted by="Clive Curson" date="1995"/>
  </route>    

  <route bolts="4B,A" grade="21" id="31" name="Streetfighter" stars="**">
   <description>
    Climb up the well defined crack with hand-jam to cubby hole. Pull out left onto the smooth buttress at the roof. Watch the rope on 
    sharp edges when lowering-off. Reachy.
   </description>
   <first-ascent by="Clive Curson" date="1994"/>
  </route>    

  <route bolts="4B,A" grade="22" id="32" name="Manic Monday" stars="">
   <description>
    Start 1.5m right of the STREETFIGHTER crack. Stretch/balance up to a god jug. Pull past the right of the roof to 0.5m to the right, 
    using good technique for maximum brownie points.
   </description>
   <first-ascent by="Clive Curson" date="1994"/>
  </route>    

  <route bolts="4B,A" grade="23" id="33" name="Heavy Duty" stars="">
   <description>
    Start 3m right of STREETFIGHTER. Climb up and left to a well-wedged small flake. Pull the steep finish to clip off a good rail just 
    left of the lower-offs. Without hooking the block to the left the grade goes up somewhat. Short persons may also find this harder.
   </description>
   <first-ascent by="Clive Curson" date="1994"/>
  </route>    

  <route bolts="3B,A" grade="18" id="34" name="Corner Route" stars="**">
   <description>
    Climb up crack in the corner. Crux is just before the first bolt, which is way up there.
   </description>
  </route>    

  <route bolts="1B,A" grade="18" id="35" name="Seriously Now" stars="">
   <description>
    Just right of the corner.
   </description>
   <first-ascent by="Dylan Morgan" date="2001"/>
  </route>    

  <route bolts="3B,A" grade="14" id="36" name="Powder Puff Girls" stars="">
   <description>
     Climbs up a series of small ledges a few meters right of 'Seriously Now'.
   </description>
   <first-ascent by="Neil Margetts" date="2004"/>
  </route>    
 </section>

 <!-- ROADSIDE ATTRACTIONS CRAG -->

 <section id="10003000" name="Roadside Attractions Crag" order="3">
 
  <route grade="18" id="1" name="Dylan's Eliminate" stars="">
   <description>
    A girdle traverse of the left-hand portion of the lower level of Strubens. Start on the left at the second bolt on the very 
    first route, and continue at approximately the same height to the very last route on the right. It goes at about 18 in both 
    directions (climbed both ways). 
   </description>
   <first-ascent by="Dylan Morgan" date=""/>
  </route>    

  <route bolts="5B,A" grade="9" id="2" name="Meadow Lane" stars="*">
   <description>
    Follow the left-most line of bolts up the grooves and ledges to where you can reach the lower-offs. A slightly easier 
    variation is found if you deviate 1-2m left after the first bolt.  </description>
   <first-ascent by="Clive Curson" date="1994"/>
  </route>    
  
  <route bolts="5B,A" grade="16" id="3" name="Eastern Bypass" stars="**">
   <description>
    Start up MEADOW LANE to the base of a thin corner groove, straight up the wall to the right. Climb the corner to gain 
    the lower-offs on the left.
   </description>
   <first-ascent by="Clive Curson" date="1995"/>
  </route>    
  
  <route bolts="5B,A" grade="17" id="4" name="Roadside Rhapsody" stars="**">
   <description>
    Go up the stepped groove in the slab 5m left of the nose, until the wall steepens at the third bolt. Less strenuous 
    than the routes on the right.
   </description>
   <first-ascent by="Clive Curson" date="1994"/>
  </route>    
  
  <route bolts="5B,A" grade="21" id="5" name="Panic Alley" stars="**">
   <description>
    Start up the short smooth face to the faint crack line 1.5m left of the nose. Can be climbed straight through the bolt 
    line at the crux. If you choose to layback, there may be a temptation to use easier holds far out right. Climb the 
    headwall slab to lower-offs.
   </description>
   <first-ascent by="Clive Curson" date="1994"/>
  </route>    
  
  <route bolts="5B,A" grade="21" id="6" name="Road Warrior" stars="***">
   <description>
    The nose route. Experience a steep start past the ex-tree. Don’t hang around too long or gravity will catch up. Go straight 
    up the crack to lower-offs on the right. ‘Legal’ holds can be used just to the right, but if you ignore all of these, the 
    grade is about 21.
   </description>
   <first-ascent by="Clive Curson" date="1994"/>
  </route>    

  <route bolts="4B,A" grade="17" id="7" name="New Jersey Turnpike" stars="***">
   <description>
    Probably led by various of the Margetts clan in the 80’s. Start 2m right of the root on the nose, following the double crack 
    system to the base of the smaller groove at the top. Climb up this to lower-offs.
   </description>
   <first-ascent by="Clive Curson" date="1994"/>
  </route>    

  <route bolts="4B,A" grade="17" id="8" name="Highway Man" stars="***">
   <description>
    Start about 3m right of the nose. Climb steeply up a spidery crack system to easier ground finishing in the larger groove/recess.
   </description>
   <first-ascent by="Clive Curson" date="1994"/>
  </route>    

  <route bolts="5B,A" grade="18" id="9" name="Sidewalk Vendetta" stars="**">
   <description>
    Climb the shallow recess about 6-7m right of the nose. If it feels a bit hard, try a little technique. Continue up the crack above 
    to lower-offs on a small buttress.
   </description>
   <first-ascent by="Clive Curson" date="1994"/>
  </route>    

  <route bolts="4B,A" grade="18" id="10" name="A Delicate One" stars="**">
   <description>
    First top roped by Adele McCann. Go up the orange face, without making use of the major edge to the right.
   </description>
   <first-ascent by="Clive Curson" date="1994"/>
  </route>    

  <route bolts="4B,A" grade="16" id="11" name="Thuggery" stars="**">
   <description>
    Use the break to the right of the orange face to gain the summit, using the same lower-offs as 'A Delicate One'.
   </description>
   <first-ascent by="Clive Curson" date="1994"/>
  </route>    

  <route bolts="4B,A" grade="15" id="12" name="Catwalk" stars="**">
   <description>
    Go up the face to the right of the break used by THUGGERY. Pull into the base of the short corner, and climb to 
    the lower-offs on the left, under the tree.
   </description>
   <first-ascent by="Clive Curson" date="1994"/>
  </route>    

  <route bolts="4B,A" grade="14" id="13" name="Walking The Dog" stars="**">
   <description>
    Go right after the second bolt on CATWALK to lower-offs on the right.
   </description>
   <first-ascent by="Clive Curson" date="1994"/>
  </route>    

  <route bolts="3B,A" grade="10" id="14" name="Western Bypass" stars="**">
   <description>
    Climb the face just to the left of an obvious recess. Use the same lower-offs as 'Walking The Dog'.
   </description>
   <first-ascent by="Clive Curson" date="1994"/>
  </route>    

  <route bolts="3B,A" grade="8" id="15" name="Boulevard of Wet Dreams" stars="**">
   <description>
    The obvious recess/corner.
   </description>
   <first-ascent by="Clive Curson" date="1994"/>
  </route>    

 </section>

 <!-- UPPER SECTION -->

 <section id="10001000" name="Upper Section" order="1">
  <route bolts="5D" grade="15" id="1" name="Red Fred" stars="***">
   <description>
    ????
   </description>
   <first-ascent by="Neil Margetts" date=""/>
  </route>    

  <route bolts="5D" grade="11" id="2" name="Blue Glue" stars="">
   <description>
    Shares top anchors with 'Red Fred'.
   </description>
   <bolted by="Neil Margetts" date=""/>
  </route>    

  <route bolts="6D" grade="18" id="3" name="Into Pink" stars="">
   <description>
    On the left hand side of the Upper band, slightly above the rest of the cliffs is a steep red broken 
    buttress with a large thin flake 3m high in the centre, at its base. Climb the crack on the left hand 
    side of the flake to its top, then step up left to above a small overhang. From there continue up 
    slightly right via a small recess to the top.
   </description>
   <bolted by="Neil Margetts" date=""/>
  </route>    

  <route bolts="6D" grade="18" id="4" name="Think Pink" stars="**">
   <description>
    Climb the crack on the right of the flake (see INTO PINK) continuing up to the corner above, then at 
    its top climb another small corner, just to the right of the ridge, to the top. 
   </description>
   <bolted by="Neil Margetts" date=""/>
  </route>    

  <route bolts="7D" grade="16" id="5" name="Silver Arrows" stars="">
   <description>
   </description>
   <bolted by="Neil Margetts" date=""/>
  </route>    

  <route bolts="6D" grade="13" id="6" name="Green Light" stars="">
   <description>
   </description>
   <bolted by="Neil Margetts" date=""/>
  </route>    

  <route bolts="6D" grade="14" id="7" name="Pink Hot Peppers" stars="*">
   <description>
    Straddle up short dark brown square recess to the right of THINK PINK, and just to the left of a cave 
    with blocks in it. Step left at the large block which is at the top of the recess. Has a tricky start.	
   </description>
   <bolted by="Neil Margetts" date=""/>
  </route>    

  <route bolts="6D" grade="20" id="8" name="Purple Frenzy" stars="**">
   <description>
    Walk down 10m from Think Pink to a lower buttress with a smooth undercut bulge at its base. Balance up 
    bulge along a ridge 1m to the right of white streak, to a flared crack underneath an overhang. Pull 
    over overhang and continue up easier ground to the top, keeping to the ridge.	
   </description>
   <bolted by="Neil Margetts" date=""/>
  </route>    

  <route bolts="6D" grade="17" id="9" name="Goat Crack" stars="**">
   <description>
    To the right of 'Purple Frenzy' is an obvious crack leading to an open hook above with blocks in it. 
    Climb initial section (crux) to cubby hole, then continue up steep crack above on good grips to the top.	
   </description>
  </route>    

  <route bolts="6D" grade="15" id="10" name="Balderdash" stars="">
   <description>
   </description>
   <bolted by="Neil Margetts" date=""/>
  </route>    

  <route bolts="G" grade="9" id="11" name="Bumble Bee" stars="*">
   <description>
    4m to the right of 'Goat Crack' is a small tree. Climb left of tree to ledge, then move up left via crack
    to a ledge 1m to the right of the cubby hole of 'Goat Crack'. Then climb up cracks above to the top.	
   </description>
  </route>    

  <route bolts="7D" grade="16" id="12" name="Saddlebags" stars="">
   <description>
   </description>
   <bolted by="Neil Margetts" date=""/>
  </route>    

  <route bolts="7D" grade="19" id="13" name="Life In The Fast Lane" stars="**">
   <description>
    About 7m to the right of BUMBLE BEE is a 4.5m high thin crack with peg scars in it (dark rock). Climb the 
    crack to a small ledge and instead of moving up left to easy ground, reach right to another crack/corner, 
    which is followed to the top. If the block on the right is used to straddle, the grade is reduced.   
   </description>
   <bolted by="Neil Margetts" date=""/>
  </route>    

  <route bolts="G" grade="10" id="14" name="Laughter of the Mortals" stars="">
   <description>
    2m to the right of LIFE IN THE FAST LANE is a slab leading to a chimney in between to obvious ridges. Start
    to the right, and step left into the chimney which is then climbed to the top.   
   </description>
  </route>    

  <route bolts="7D" grade="12" id="15" name="Tea Bagging" stars="***">
   <description>
    Two ridges are mentioned in 'Laughter of the Mortals'. Climb up the right side of the right ridge on big jugs to the top.   
   </description>
   <bolted by="Neil Margetts" date=""/>
  </route>    

  <route bolts="6D" grade="16" id="16" name="Getting Air" stars="**">
   <description>
    Move up the centre of wall which is to the right of 'Tea Bagging' to the top (avoiding good grips on 'Tea Bagging' and the
    crack on the right).   
   </description>
   <bolted by="Neil Margetts" date=""/>
  </route>    

  <route bolts="5D" grade="14" id="17" name="Get Tubed" stars="**">
   <description>
    To the right of 'Tea Bagging' is an obvious, attractive scoop shaped overhanging face with two corners on either side. Climb 
    the left hand corner to the top, moving left near the top.   
   </description>
   <bolted by="Neil Margetts" date=""/>
  </route>    

  <route bolts="7D" grade="29" id="18" name="Tidal Wave" stars="**">
   <description>
     Climb the scooped face up the middle. 
   </description>
   <bolted by="Neil Margetts" date=""/>
  </route>    

  <route bolts="G" grade="18" id="19" name="Cutback Spray" stars="*">
   <description>
    Climb the right hand side of the scoop mentioned in 'Is There Anybody In There', to the top. 
   </description>
  </route>    

  <route bolts="G" grade="17" id="20" name="Barracuda" stars="**">
   <description>
    3m to the right of the start of 'Is There Anybody In There' is a bushy tree. Above the tree is a small 
    corner with a few roots in it at the base. Climb this corner to an overhang, rail left, and move up 
    corner on left until one can step right again, to above the previously mentioned overhang. Then 
    continue past fig tree to top. 
   </description>
   <bolted by="Neil Margetts" date=""/>
  </route>    

  <route bolts="PG" grade="20" id="21" name="Mussel Cracker" stars="*">
   <description>
    2.5m to the right of the tree mentioned in 'Barracuda' is another similar tree. Step onto grey face here and 
    climb up to the large ledge above. Above this is a short overhanging face with a break in it directly above
    the start. Climb this break which leads into a crack higher up, to the top. 
   </description>
   <bolted by="Neil Margetts" date=""/>
  </route>    

  <route bolts="PG" grade="11" id="22" name="Thunder Thighs" stars="">
   <description>
    Start as for 'Mussel Cracker', but tend rightwards towards a tree. Then climb up through the tree onto another 
    edge. Continue along ledge until possible to easily climb to the top.
   </description>
  </route>    

  <route bolts="G" grade="13" id="23" name="Thunder Thighs Direct" stars="**">
   <description>
    4m to the right of 'Thunder Thighs' are a few large boulders. On the right of these is a tree next to the crag. 
    Step into the corner below the prominent overhang 3m up. Climb up to the ledge above. Then continue up corner 
    to the tree of Thunder Thighs. Continue directly to the top.
   </description>
  </route>    

  <route bolts="G" grade="20" id="24" name="Lunar Light Traverse" stars="***">
   <description>
    1.  25m 20  This is a superb girdle traverse, probably the best route on the crag. At the thin tree mentioned 
        in Thunder Thighs Direct, climb up for 3m until you can traverse right along the obvious rail under the fig 
        tree. Continue for 25m at the lip of the cave until you get to another fig tree. Climb up 4m to a ledge.   
    2.  10m 15  Walk right, to below the nose. Move up on the right hand side and swing around left to the obvious 
        hand crack. Follow this to its end and then continue to top.  
    Note: This route has to be led. The first pitch is sustained, and is as hard to follow as it is to lead.
   </description>
  </route>    

  <route bolts="PG" grade="22" id="25" name="Stumbling Pilgrim" stars="**">
   <description>
    Start about 3m to the right of the start of Lunar Light Traverse below the fig tree. Climb up to the rail and 
    up on small grips to a small recess to the left of a nose and to the right of a fig tree. Climb up this for 3m 
    to easier ground which is followed to the top.
   </description>
  </route>    

  <route bolts="G" grade="23" id="26" name="Black Magic" stars="**">
   <description>
    Above the right hand side of the boulders mentioned in Thunder Thighs Direct is an obvious vee shaped break in 
    the roof above. Pull up initial overhang using underclings to the rail, continue up to break, then climb through 
    break (crux) to easier ground, continue up vague recess above to the top.
   </description>
  </route>    

  <route bolts="?B" grade="25" id="27" name="Magic Mushroom" stars="***">
   <description>
    Move up diagonally left, starting half a metre to the left of the start of TIDAL WAVE, to the rail. Move up to 
    a bolt. Continue up through the overhanging rock above, past the second bolt to the top. Do not use the grips 
    that would normally be used for the routes on either side for handholds or footholds.
   </description>
  </route>    

  <route bolts="G" grade="21" id="28" name="Voodoo" stars="***">
   <description>
    About 3m to the right of Black Magic is a large obvious corner. Climb directly up to the corner after negotiating
    the initial overhang, climb the corner (crux) and continue straight up crack above without stepping right onto 
    easier rock (a superb direct line).
   </description>
  </route>    

  <route bolts="G" grade="20" id="29" name="Sticky Wicket" stars="**">
   <description>
    Start as for Tidal Wave to the rail. Rail right to a corner, move right onto the nose and then up to grips above a 
    thin crack. Then move up diagonally left to a ledge. Continue up to the top.
   </description>
  </route>    

  <route bolts="PG" grade="24" id="30" name="Sticky Wicket Direct" stars="**">
   <description>
    Pull up into the corner to the right of the start of Tidal Wave (reachy). Then execute a very contrived pull through
    the roof above, without touching the right wall of the corner. (Height is a definite advantage for both cruxes).
   </description>
  </route>    

  <route bolts="G" grade="19,A2" id="31" name="The End Of The Night" stars="**">
   <description>
    3m to the right of Sticky Wicket Direct is a hairline crack running through the initial bulge, widening to finger size
    higher up. Aid (A3) up initial section on blades and poor nuts to the rail, then continue up crack above (free climbing) 
    with some difficult moves (19) near the top.
   </description>
  </route>    

  <route bolts="G" grade="24" id="32" name="Mental Block" stars="***">
   <description>
    5m to the right of the start of Sticky Wicket Direct is an obvious jug handhold about 3m up, at the lip of 
    the cave. Move onto this dynamically and continue up to a rest on the rail (crux) . Continue up over second 
    overhang (20) and up to top.
   </description>
  </route>    

  <route bolts="G" grade="19" id="33" name="Hot Canary" stars="***">
   <description>
    5m to the right of the start of Mental Block is a short root filled crack. Climb this to the rail, ascend 
    wide crack above (crux) to a ledge. Then avoid grotty rock above by traversing right for 5m to an attractive 
    nose with an obvious hand crack on its left hand side. Climb this to the top, starting on its right hand side. 
    (As in Lunar Light Traverse)
   </description>
  </route>    

  <route bolts="G" grade="23" id="34" name="Stargazer" stars="***">
   <description>
    5m to the right of Hot Canary is a short corner topped by a roof. To its right, above 2 large, flatish 
    boulders are 2 smooth, overhanging bulges. Straddle up the corner to the roof, then rail right above the
    first bulge to a cramped position. Pull through second bulge strenuously until the grade eases, then 
    continue up ridge above (excellent dynamic moves)
   </description>
  </route>    

  <route bolts="G" grade="21" id="35" name="Smoke Alley" stars="**">
   <description>
    At the right hand end of the big cave. 4m to the right, and around the corner from the start of Stargazer
    is a crack up an overhanging recess. Climb this (crux) and follow easy cracks to the top.
   </description>
  </route>    

  <route bolts="G" grade="22" id="36" name="Jugular Vein" stars="**">
   <description>
    About 1.5m to the right of Smoke Alley is an obvious crack running up and through overhangs. Jugular Vein
    climbs this crack.
   </description>
  </route>    

  <route bolts="G" grade="18" id="37" name="Eyes of Fire" stars="**">
   <description>
    Climb the crack to the right of JUGUALR VEIN to the top. Continue up easy ground above.
   </description>
  </route>    

  <route bolts="G" grade="13" id="38" name="Curmudgeon Corner" stars="*">
   <description>
    Start 10m up Black Jack Gully in a short obvious corner with yellow and grey patches. This is just to the 
    left of a dusty cave whose ceiling consists of large boulders. Climb the corner and continue past the tree 
    above to the top.
   </description>
  </route>    

  <route bolts="" grade="5" id="39" name="Black Jack Gully" stars="">
   <description>
    The obvious descent route with tree at base.
   </description>
  </route>    

  <route bolts="" grade="19" id="40" name="Devious" stars="**">
   <description>
    Climb face 1m right of Eyes of Fire through overhang to top.
   </description>
  </route>    

  <route bolts="" grade="18" id="41" name="Envious" stars="**">
   <description>
    Climb shallow recess 1m to the right and around the corner of Devious.
   </description>
  </route>    

 </section>
</routes>
